body,
html {
  margin: 0;
  padding: 0;
  background: #333;
}

#container {
  width: 100vw;
  height: 100vw;
}

#element_to_scale {
  width: 640px;
  height: 480px;
  background: #EEE;
  padding: 1em;
}

img {
  margin-right: 1em;
}